@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "ApfelGrotezk-Mittel", Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}
h1 {
  font-family: "ApfelGrotezk-Satt", Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  line-height: 0.8;
}

@font-face {
  font-family: "ApfelGrotezk-Brukt";
  src: url("/fonts/ApfelGrotezk-Brukt.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ApfelGrotezk-Fett";
  src: url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ApfelGrotezk-Mittel";
  src: url("/fonts/ApfelGrotezk-Mittel.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ApfelGrotezk-Regular";
  src: url("/fonts/ApfelGrotezk-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ApfelGrotezk-Satt";
  src: url("/fonts/ApfelGrotezk-Satt.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: oklch(0.873 0 0);
  --color-black: oklch(0.1924 0.0016 17.3);

  --color-neutral-50: oklch(0.9761 0 0);
  --color-neutral-100: oklch(0.9461 0 0);
  --color-neutral-200: oklch(0.873 0 0);
  --color-neutral-300: oklch(0.8328 0 0);
  --color-neutral-400: oklch(0.7476 0 0);
  --color-neutral-500: oklch(0.683 0 0);
  --color-neutral-600: oklch(0.6268 0 0);
  --color-neutral-700: oklch(0.5829 0 0);
  --color-neutral-800: oklch(0.5138 0 0);
  --color-neutral-900: oklch(0.4459 0 0);
  --color-neutral-950: oklch(0.3329 0 0);

  --color-accent-about: oklch(0.8174 0.1287 147.18);
  --color-accent-fwut-visualizer: oklch(0.771 0.118 62.49);
  --color-accent-edna-world: oklch(0.7252 0.1702 22.24);
  --color-accent-voftd: oklch(0.733 0.1679 357.55);
  --color-accent-paper-dreams: oklch(0.849 0.1498 124.56);
  --color-accent-in-the-night: oklch(0.8475 0.097 195.48);
  --color-accent-the-beauty: oklch(0.8383 0.1256 98.5);
  --color-accent-best-of-both: oklch(0.843 0.081 79.3);
  --color-accent-silent-sacrifice: oklch(0.8667 0.0399 285.54);
  --color-accent-fwut: oklch(0.7988 0.1066 313.56);
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}
